@font-face {
    font-family: Mechanismo;
    src: url(../fonts/MechanismoRegular-p7ywa.otf) format('opentype');
}

html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    background-color: black;
    background-image: url("../images/image_2.jpg");
    background-size: cover;
    background-position: center;
    -webkit-transition: background-image 5s;
    justify-content: center;
    margin: auto;
    align-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.content {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 30px;
    opacity: 80%;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    min-height: 50%;
    text-align: center;
    padding: 2em;
}

.content div {
    margin: auto;
    font-family: "Noto Mono", monospace;
}

h1 {
    font-size: xxx-large;
    font-family: Mechanismo, monospace;
}

h2 {
    font-size: xx-large;
    font-family: Mechanismo, monospace;
}

#answer {
    color: darkred;
}

.content .footer {
    margin-top: 2em;
}
